.pagenotfound{
    color: #ffffff;
    margin-top: 120px;
    
    
    
    
    
}
.pagenotfound .Heading{
font-size: 4em;
font-weight: 700;
text-transform: uppercase;
}
.pagenotfound .Desc{
    font-size: 2em;
}
.pagenotfound .ResumeBtn{
    margin-left: 0 !important;
}
.pagenotfound .Image{
    text-align: right;

}
